@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  @apply text-slate-900;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

main {
  height: 100%;
  min-height: 100dvh;
}